services:
  metabase:
    container_name: metabase
    hostname: metabase
    image: metabase/metabase:latest
    restart: unless-stopped
    ports:
      - 4000:3000
    networks:
      - metabase
      - backend
    depends_on:
      - metabase-db
    environment:
      MB_DB_TYPE: postgres
      MB_DB_HOST: metabase-db
      MB_DB_DBNAME: ${METABASE_DB_NAME}
      MB_DB_USER: ${METABASE_DB_USER}
      MB_DB_PASS: ${METABASE_DB_PASS}
      MB_DB_PORT: 5432
    volumes:
      - /dev/urandom:/dev/random:ro

  metabase-db:
    container_name: metabase-db
    hostname: metabase-db
    image: postgres:latest
    restart: unless-stopped
    networks:
      - backend
    environment:
      POSTGRES_DB: ${METABASE_DB_NAME}
      POSTGRES_USER: ${METABASE_DB_USER}
      POSTGRES_PASSWORD: ${METABASE_DB_PASS}
    volumes:
      - ${DOCKER_VOLUME_ROOT}/metabase/postgres_data:/var/lib/postgresql/data

networks:
  metabase:
    name: metabase-network
    external: true
  backend:
    name: metabase-backend
    external: false
