# adguard
/adguard/conf/
/adguard/work/

# all environment files
.env

# ghost
/ghost/content/
/ghost/mysql/

# homepage
/homepage/config/logs/

# it-tools
# no directories

# nginx-proxy-manager
/nginx-proxy-manager/data/
/nginx-proxy-manager/letsencrypt/

# portainer
/portainer/portainer_data/

# speedtest-tracker
/speedtest-tracker/config/

# uptime-kuma
/uptime-kuma/data/
