services:
  netalertx:
    container_name: netalertx
    image: "jokobsk/netalertx:latest"
    network_mode: "host"
    restart: unless-stopped
    volumes:
      - ${DOCKER_VOLUME_ROOT}/netalertx/config:/app/config
      - ${DOCKER_VOLUME_ROOT}/netalertx/db:/app/db
    environment:
      - TZ=America/Chicago
      - PORT=9080
