services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    networks:
      - homepage
    volumes:
      - ${DOCKER_VOLUME_ROOT}/homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env

networks:
  homepage:
    name: homepage-network
    external: true
