services:
  portainer:
    container_name: portainer
    hostname: portainer
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    command: -H unix:///var/run/docker.sock
    ports:
      - 9443:9443
    networks:
      - portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_VOLUME_ROOT}/portainer/portainer_data:/data

networks:
  portainer:
    name: portainer-network
    external: true
