services:
  ghost:
    container_name: ghost
    image: ghost:latest
    restart: unless-stopped
    ports:
      - 2368:2368
    networks:
      - ghost
      - backend
    depends_on:
      - db
    environment:
      url: ${URL}
      database__client: mysql
      database__connection__host: db
      database__connection__user: ${GHOST_DB_USER}
      database__connection__password: ${GHOST_DB_PASS}
      database__connection__database: ${GHOST_DB_NAME}
    volumes:
      - ${DOCKER_VOLUME_ROOT}/ghost/content:/var/lib/ghost/content

  db:
    container_name: ghost-db
    image: mariadb:latest
    restart: unless-stopped
    networks:
      - backend
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASS}
      MYSQL_USER: ${GHOST_DB_USER}
      MYSQL_PASSWORD: ${GHOST_DB_PASS}
      MYSQL_DATABASE: ${GHOST_DB_NAME}
    volumes:
      - ${DOCKER_VOLUME_ROOT}/ghost/mysql:/var/lib/mysql

networks:
  ghost:
    name: ghost-network
    external: true
  backend:
    name: ghost-backend
    external: false
