services:
  app:
    container_name: uptime-kuma
    hostname: uptime-kuma
    image: louislam/uptime-kuma:2.1.3
    restart: unless-stopped
    ports:
      - 3001:3001
    dns:
      - 192.168.86.4  # local DNS server
      - 1.1.1.1
    volumes:
      - ${DOCKER_VOLUME_ROOT}/uptime-kuma/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
     - uptimekuma

networks:
  uptimekuma:
    name: uptimekuma-network
    external: true
