services:
  app:
    container_name: nginx-proxy-manager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - ${DOCKER_VOLUME_ROOT}/nginx-proxy-manager/data:/data
      - ${DOCKER_VOLUME_ROOT}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - proxy
      - analysisworker
      - bookstack
      - ghost
      - homepage
      - ittools
      - metabase
      - portainer
      - rabbitmq
      - speedtest
      - uptimekuma

networks:
  proxy:
    name: proxy-bridge
    external: true
  analysisworker:
    name: analysisworker-network
    external: false
  bookstack:
    name: bookstack-network
    external: false
  ghost:
    name: ghost-network
    external: false
  homepage:
    name: homepage-network
    external: false
  ittools:
    name: ittools-network
    external: false
  metabase:
    name: metabase-network
    external: false
  portainer:
    name: portainer-network
    external: false
  rabbitmq:
    name: rabbitmq-network
    external: false
  speedtest:
    name: speedtest-network
    external: false
  uptimekuma:
    name: uptimekuma-network
    external: false
