services:
  app:
    container_name: nginx-proxy-manager
    image: jc21/nginx-proxy-manager:2.13.7
    restart: unless-stopped
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$'
      - wud.trigger.exclude=docker.autoupdate
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - ${DOCKER_VOLUME_ROOT}/nginx-proxy-manager/data:/data
      - ${DOCKER_VOLUME_ROOT}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - proxy
      - analysisworker
      - bookstack
      - ghost
      - gitea
      - homepage
      - ittools
      - metabase
      - rabbitmq
      - speedtest
      - uptimekuma

networks:
  proxy:
    name: proxy-bridge
    external: true
  analysisworker:
    name: analysisworker-network
    external: true
  bookstack:
    name: bookstack-network
    external: true
  ghost:
    name: ghost-network
    external: true
  gitea:
    name: gitea-network
    external: true
  homepage:
    name: homepage-network
    external: true
  ittools:
    name: ittools-network
    external: true
  metabase:
    name: metabase-network
    external: true
  rabbitmq:
    name: rabbitmq-network
    external: true
  speedtest:
    name: speedtest-network
    external: true
  uptimekuma:
    name: uptimekuma-network
    external: true
